# -------------------------------------------------------------------------
# IDE (Android Studio / IntelliJ)
# -------------------------------------------------------------------------
*.iml
.gradle/

# Ignore all .idea/ except shared code style config
/.idea/
!/.idea/.gitignore
!/.idea/codeStyles/

# Ścieżki lokalne (SDK/NDK) - każdy programista ma własne
local.properties

# -------------------------------------------------------------------------
# Pliki budowania (Kompilacja i Build)
# -------------------------------------------------------------------------
/build/
*/build/
captures/
.externalNativeBuild/
.cxx/

# -------------------------------------------------------------------------
# Artefakty (Aplikacje i Logi)
# -------------------------------------------------------------------------
*.apk
*.ap_
*.aab
*.log

# -------------------------------------------------------------------------
# BEZPIECZEŃSTWO - Pliki z kluczami i hasłami
# -------------------------------------------------------------------------
*.jks
*.keystore
google-services.json

# -------------------------------------------------------------------------
# Pliki systemowe (np. macOS, Windows)
# -------------------------------------------------------------------------
.DS_Store
Thumbs.db